<div class="container">
  <div class="row title">
    <div class="col-md-6 col-md-offset-3">

      <form ng-submit="updateTask(selectedTask)">
        <input type="text" ng-model="selectedTask.title" class="form-control" placeholder="Task title"><br>
        <textarea ng-model="selectedTask.description" class="form-control" placeholder="Describe the Task"></textarea><br>
        <input type="number" ng-model="selectedTask.total" class="form-control" placeholder="How much is the total"><br>
        <input type="submit" class="btn btn-info" value="Update Task">
      </form>

    </div>
  </div>
</div>